@model Learning.WebSite.Models.ClassListModel
@{
    ViewBag.Title = "Classes Available";
}

<div class="topmain">
    <h1>The Learning Center</h1>
    The Place For Technology Classes.
    <br />
    <br />

</div>


<h1>Classes</h1>
<table class="table table-bordered table-responsive table-hover">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
    </tr>
    @foreach (var classx in Model.Classes)
    {
<tr>
    <td>@classx.Name</td>
    <td>@classx.Description</td>
    <td>@classx.Price.ToString("c")</td>



</tr>

    }
</table>
