@{
    ViewData["Title"] = "Home Page";
}

<style>
    .topmain{
        background-color:gainsboro;
        padding-top:20px;
        padding-left:20px;
        padding-bottom:20px;
        text-anchor:start;
    }

</style>


<div class="topmain">
        <h1>The Learning Center</h1>
        The Place For Technology Classes.
        <br />
        <br />

</div>

    <div class="col-md-3">
        <h2><a href="/home/classlist">Class List</a></h2>
        See all of our class offerings.
        <ul>

        </ul>
    </div>
    <div class="col-md-3">
        <h2><a href="/home/studentclasses">Your enrolled classes</a></h2>
        See the classes your enrolled in.
        <ul>
        </ul>
    </div>
    <div class="col-md-3">
        <h2><a href="/home/enrollinclass">Enroll in a class </a></h2>
        Take a new class.
    </div>
</div>
