@model HelloWorld.Models.Product[]

@{
    ViewBag.MyLittleTitle = "Products";

}

@if (Model.Length > 0)
{
    <table>
        @foreach (var product in Model)
        {
            <tr>
                <td>Name: @product.Name</td>
                <td>Price: @product.Price.ToString("c")</td>
                <td>
                    @switch (product.ProductCount)
                    {
                        case 0:
                            {
                                @:out of stock
                                break;
                            }
                        case 1:
                            {
                                <p>low stock</p>
                                break;
                            }
                        default:
                            {
                                @product.ProductCount
                                break;

                            }
                    }
                </td>


            </tr>
        }
    </table>
}
else
{
    <h2>No product data found.</h2>
}